/**
* Colors
*/
$color-primary: #bf0d3e;
$color-secondary: #0f3460;
$section-bg-light: #ebf0f4;
$section-bg-dark: #15263b;
$color-dark: #1f2937;
$color-light: #ffffff;

$color-gray: #6c7380;
$color-border: #eff0f7;
$color-success: #00b374;
$color-warning: #ffbb1c;
$color-danger: #ca3604;
$color-shadow: rgba(1, 6, 33, 0.11);
$color-shadow2: rgba(43, 50, 63, 0.85);

/**
* Font
*/
$font-heading: "Inter", sans-serif;
$font-display: "Poppins", sans-serif;
