<!DOCTYPE html>
<html lang="zxx" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--====== Title ======-->
    <title>Statesman - political HTML landing page</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="assets/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css" />
    <!--====== IcoFont css ======-->
    <link rel="stylesheet" href="assets/css/icofont.min.css" />
    <!--====== swiper css ======-->
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <!--====== Glightbox css ======-->
    <link rel="stylesheet" href="assets/css/glightbox.css" />
    <!--====== Aos & Paddings css ======-->
    <link rel="stylesheet" href="assets/css/aos.css" />
    <!--====== Odometer css ======-->
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css" />
    <!--====== Margin Padding css ======-->
    <link rel="stylesheet" href="assets/css/margins-paddings.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.rtl.css" />
    <!--====== Custom variants ======-->
    <!-- Default color version -->
    <link
      rel="stylesheet"
      href="assets/css/colors/shiraz.css"
      id="color-switch"
    />
    <!-- Default font version -->
    <link
      rel="stylesheet"
      href="assets/css/fonts/inter-raleway.css"
      id="font-switch"
    />
    <!--  Template Flat BG -->
    <!-- <link href="assets/css/colors/sky.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/christine.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/cosmic.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/emerald.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/leather.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/patina.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/shiraz.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/sunshade.css" rel="stylesheet"> -->
    <!--  Template Typography -->
    <!-- <link href="assets/css/fonts/poppins-roboto.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/josepin-sourceSansPro.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/montserrat-lato.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/raleway-montserrat.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/philosopher-poppins.css" rel="stylesheet"> -->
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="assets/css/custom.css" /> -->
    <!-- Demo CSS -->
    <link rel="stylesheet" href="demo/demo.css" />
  </head>
  <body>
    <div class="section-wrapper">
      <!-- ========== Header start ========== -->
      <header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <h1 class="navbar-brand__title">Statesman</h1>
                <!-- <img
                  class="navbar-brand__logo-dark"
                  src="assets/images/logo.png"
                  alt="Statesman"
                />
                <img
                  class="navbar-brand__logo-white"
                  src="assets/images/logo-whit.png"
                  alt="Statesman"
                /> -->
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul
                  id="onepage-nav"
                  class="navbar-nav menu ms-lg-auto align-items-lg-center"
                >
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link active scroll" href="#hero">Home </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="index-rtl.html" class="nav-link">Candidate</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-2-rtl.html" class="nav-link"
                          >Portfolio</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="index-3-rtl.html" class="nav-link">Campaign</a>
                      </li>
                      <li class="nav-item">
                        <a href="index.html" class="nav-link">Ltr version</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#event">Event </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="events-rtl.html" class="nav-link">All Event</a>
                      </li>
                      <li class="nav-item">
                        <a href="single-event-rtl.html" class="nav-link"
                          >Single Event</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#pages">Pages</a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="404-rtl.html" class="nav-link">404 Page</a>
                      </li>
                      <li class="nav-item">
                        <a href="page-without-sidebar-rtl.html" class="nav-link"
                          >Page Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-left-sidebar-rtl.html" class="nav-link"
                          >Page Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-right-sidebar-rtl.html" class="nav-link"
                          >Page Right Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#blog">Blog </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="blog-grid-rtl.html" class="nav-link">Blog Grid</a>
                      </li>
                      <li class="nav-item">
                        <a href="left-sidebar-rtl.html" class="nav-link">Left Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="right-sidebar-rtl.html" class="nav-link">Right Sidebar</a>
                      </li>
                      <li class="nav-item">
                        <a href="details-without-sidebar-rtl.html" class="nav-link"
                          >Details Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="details-right-sidebar-rtl.html" class="nav-link"
                          >Details Right Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="details-left-sidebar-rtl.html" class="nav-link"
                          >Details Left Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <div class="switch-box">
                      <label id="switch" class="switch">
                        <input
                          type="checkbox"
                          onchange="toggleTheme()"
                          id="slider"
                        />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span><span></span><span></span><span></span><span></span
                ><span></span>
              </button>
            </nav>
          </div>
        </div>
      </header>
      <!-- ========== Header end ========== -->
      <!-- ========== Blog hero start ========== -->
      <section
        id="all-blogs"
        class="all-blogs overflow-hidden position-relative"
      >
        <div class="container">
          <div class="row">
            <div class="blog-title">
              <h1
                class="display-3"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
              >
                Page Right Sidebar
              </h1>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="250"
                >
                  <a href="index.html">Home</a>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="250"
                >
                  <i class="icofont-rounded-right"></i>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="300"
                >
                  Page Right Sidebar
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- ========== Blog hero end ========== -->
      <div class="pages section-padding">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-8"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-delay="400"
            >
              <div class="pages__content">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Blanditiis dignissimos nam ipsum, eum mollitia vel fugit
                  eligendi commodi quidem error dolorem illum a architecto, quia
                  fuga atque. Sint dolore expedita nisi nihil illum. Fugit
                  accusamus omnis sed mollitia ad at.
                </p>
                <blockquote>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum, asperiores quibusdam suscipit repudiandae incidunt
                    itaque alias dolorum modi exercitationem cumque tenetur
                    aperiam veniam nam architecto error a vel nesciunt. Iusto.
                  </p>
                </blockquote>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reiciendis incidunt aut minima soluta minus repellat unde, at
                  est hic accusamus nam aliquid enim neque maxime impedit quam
                  explicabo repellendus eius numquam rem perspiciatis adipisci
                  vel odit officiis. Ducimus, voluptatum dolorum.
                </p>
                <blockquote>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Voluptatum quis veritatis repellat dicta error. Nisi.
                  </p>
                </blockquote>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
                  excepturi vel pariatur quas nobis, laudantium reprehenderit
                  temporibus numquam voluptatibus tempora id fuga eveniet.
                  Consectetur officiis ullam delectus facilis expedita totam.
                  Dignissimos, quis unde! Nostrum aut numquam laboriosam unde
                  assumenda sit explicabo earum nisi, saepe consectetur beatae
                  ipsum eaque, nulla non?
                </p>
              </div>
            </div>
            <aside
              class="col-lg-4"
              data-aos="fade-left"
              data-aos-duration="1000"
              data-aos-delay="400"
            >
              <div class="blog__sidebar">
                <div class="blog__sidebar__item">
                  <div class="blog__sidebar__item__1">
                    <form>
                      <div class="form-inner">
                        <input type="text" placeholder="Search..." />
                        <button>
                          <i class="icofont-search-1"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="blog__sidebar__item">
                  <div class="blog-category">
                    <div class="blog-category__title">
                      <h4>Recent Post</h4>
                      <span></span>
                    </div>
                    <div class="blog-category__area">
                      <ul>
                        <li class="d-flex align-items-center">
                          <div class="post-img">
                            <a href="details-right-sidebar.html"
                              ><img
                                class="img-fluid"
                                alt="image"
                                src="assets/images/blog/blog1.jpg"
                            /></a>
                          </div>
                          <div class="post-content">
                            <h6>
                              <a href="details-right-sidebar.html"
                                >In a augue sit ametanibi erat Suspel...</a
                              >
                            </h6>
                            <span
                              ><i class="icofont-ui-calendar"></i>25 May,
                              2022</span
                            >
                          </div>
                        </li>
                        <li class="d-flex align-items-center">
                          <div class="post-img">
                            <a href="details-right-sidebar.html"
                              ><img
                                class="img-fluid"
                                alt="image"
                                src="assets/images/blog/blog2.jpg"
                            /></a>
                          </div>
                          <div class="post-content">
                            <h6>
                              <a href="details-right-sidebar.html"
                                >In a augue sit ametanibi erat Suspel...</a
                              >
                            </h6>
                            <span
                              ><i class="icofont-ui-calendar"></i>25 May,
                              2022</span
                            >
                          </div>
                        </li>
                        <li class="d-flex align-items-center">
                          <div class="post-img">
                            <a href="details-right-sidebar.html"
                              ><img
                                class="img-fluid"
                                alt="image"
                                src="assets/images/blog/blog3.jpg"
                            /></a>
                          </div>
                          <div class="post-content">
                            <h6>
                              <a href="details-right-sidebar.html"
                                >In a augue sit ametanibi erat Suspel...</a
                              >
                            </h6>
                            <span
                              ><i class="icofont-ui-calendar"></i>25 May,
                              2022</span
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="blog__sidebar__item">
                  <div class="top-blog">
                    <div class="blog-category__title">
                      <h4>Categories</h4>
                      <span></span>
                    </div>
                    <div class="p-30px-t">
                      <ul class="category-list">
                        <li>
                          <a href="details-right-sidebar.html"
                            ><span>New Technology</span
                            ><span
                              ><svg
                                width="31"
                                height="16"
                                viewBox="0 0 31 16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M22.4313 0.0952265C22.0661 0.205017 21.8592 0.57746 21.9525 0.950568C21.9758 1.06122 22.9569 2.0713 24.8779 3.98646L27.7623 6.865L14.1265 6.84643L0.484815 6.83367L0.319743 6.95565C0.231302 7.01953 0.113142 7.1824 0.0657449 7.31629C-0.0112326 7.53168 -0.00543762 7.5783 0.0824619 7.7591C0.135216 7.8699 0.252607 8.00998 0.340778 8.06844C0.493658 8.16782 1.12364 8.17503 14.1294 8.22134L27.7592 8.26319L24.8915 11.0999C23.3102 12.6577 21.9884 14.0064 21.9587 14.0937C21.8107 14.472 21.9571 14.8277 22.3218 14.98C22.7336 15.1499 22.651 15.2196 26.4982 11.4238C28.9174 9.0406 30.0976 7.83727 30.1214 7.72663C30.1451 7.63929 30.1454 7.49947 30.1221 7.4062C30.0988 7.30129 28.9298 6.09856 26.5506 3.72217C23.531 0.715166 22.7672 -0.00312928 22.6199 0.0431444C22.6081 0.0431183 22.5256 0.0720353 22.4313 0.0952265Z"
                                ></path></svg></span
                          ></a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html"
                            ><span>Network Setup</span
                            ><span
                              ><svg
                                width="31"
                                height="16"
                                viewBox="0 0 31 16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M22.4313 0.0952265C22.0661 0.205017 21.8592 0.57746 21.9525 0.950568C21.9758 1.06122 22.9569 2.0713 24.8779 3.98646L27.7623 6.865L14.1265 6.84643L0.484815 6.83367L0.319743 6.95565C0.231302 7.01953 0.113142 7.1824 0.0657449 7.31629C-0.0112326 7.53168 -0.00543762 7.5783 0.0824619 7.7591C0.135216 7.8699 0.252607 8.00998 0.340778 8.06844C0.493658 8.16782 1.12364 8.17503 14.1294 8.22134L27.7592 8.26319L24.8915 11.0999C23.3102 12.6577 21.9884 14.0064 21.9587 14.0937C21.8107 14.472 21.9571 14.8277 22.3218 14.98C22.7336 15.1499 22.651 15.2196 26.4982 11.4238C28.9174 9.0406 30.0976 7.83727 30.1214 7.72663C30.1451 7.63929 30.1454 7.49947 30.1221 7.4062C30.0988 7.30129 28.9298 6.09856 26.5506 3.72217C23.531 0.715166 22.7672 -0.00312928 22.6199 0.0431444C22.6081 0.0431183 22.5256 0.0720353 22.4313 0.0952265Z"
                                ></path></svg></span
                          ></a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html"
                            ><span>Audi Car Bidding </span
                            ><span
                              ><svg
                                width="31"
                                height="16"
                                viewBox="0 0 31 16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M22.4313 0.0952265C22.0661 0.205017 21.8592 0.57746 21.9525 0.950568C21.9758 1.06122 22.9569 2.0713 24.8779 3.98646L27.7623 6.865L14.1265 6.84643L0.484815 6.83367L0.319743 6.95565C0.231302 7.01953 0.113142 7.1824 0.0657449 7.31629C-0.0112326 7.53168 -0.00543762 7.5783 0.0824619 7.7591C0.135216 7.8699 0.252607 8.00998 0.340778 8.06844C0.493658 8.16782 1.12364 8.17503 14.1294 8.22134L27.7592 8.26319L24.8915 11.0999C23.3102 12.6577 21.9884 14.0064 21.9587 14.0937C21.8107 14.472 21.9571 14.8277 22.3218 14.98C22.7336 15.1499 22.651 15.2196 26.4982 11.4238C28.9174 9.0406 30.0976 7.83727 30.1214 7.72663C30.1451 7.63929 30.1454 7.49947 30.1221 7.4062C30.0988 7.30129 28.9298 6.09856 26.5506 3.72217C23.531 0.715166 22.7672 -0.00312928 22.6199 0.0431444C22.6081 0.0431183 22.5256 0.0720353 22.4313 0.0952265Z"
                                ></path></svg></span
                          ></a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html"
                            ><span>Entertainment</span
                            ><span
                              ><svg
                                width="31"
                                height="16"
                                viewBox="0 0 31 16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M22.4313 0.0952265C22.0661 0.205017 21.8592 0.57746 21.9525 0.950568C21.9758 1.06122 22.9569 2.0713 24.8779 3.98646L27.7623 6.865L14.1265 6.84643L0.484815 6.83367L0.319743 6.95565C0.231302 7.01953 0.113142 7.1824 0.0657449 7.31629C-0.0112326 7.53168 -0.00543762 7.5783 0.0824619 7.7591C0.135216 7.8699 0.252607 8.00998 0.340778 8.06844C0.493658 8.16782 1.12364 8.17503 14.1294 8.22134L27.7592 8.26319L24.8915 11.0999C23.3102 12.6577 21.9884 14.0064 21.9587 14.0937C21.8107 14.472 21.9571 14.8277 22.3218 14.98C22.7336 15.1499 22.651 15.2196 26.4982 11.4238C28.9174 9.0406 30.0976 7.83727 30.1214 7.72663C30.1451 7.63929 30.1454 7.49947 30.1221 7.4062C30.0988 7.30129 28.9298 6.09856 26.5506 3.72217C23.531 0.715166 22.7672 -0.00312928 22.6199 0.0431444C22.6081 0.0431183 22.5256 0.0720353 22.4313 0.0952265Z"
                                ></path></svg></span
                          ></a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html"
                            ><span>New Technology</span
                            ><span
                              ><svg
                                width="31"
                                height="16"
                                viewBox="0 0 31 16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M22.4313 0.0952265C22.0661 0.205017 21.8592 0.57746 21.9525 0.950568C21.9758 1.06122 22.9569 2.0713 24.8779 3.98646L27.7623 6.865L14.1265 6.84643L0.484815 6.83367L0.319743 6.95565C0.231302 7.01953 0.113142 7.1824 0.0657449 7.31629C-0.0112326 7.53168 -0.00543762 7.5783 0.0824619 7.7591C0.135216 7.8699 0.252607 8.00998 0.340778 8.06844C0.493658 8.16782 1.12364 8.17503 14.1294 8.22134L27.7592 8.26319L24.8915 11.0999C23.3102 12.6577 21.9884 14.0064 21.9587 14.0937C21.8107 14.472 21.9571 14.8277 22.3218 14.98C22.7336 15.1499 22.651 15.2196 26.4982 11.4238C28.9174 9.0406 30.0976 7.83727 30.1214 7.72663C30.1451 7.63929 30.1454 7.49947 30.1221 7.4062C30.0988 7.30129 28.9298 6.09856 26.5506 3.72217C23.531 0.715166 22.7672 -0.00312928 22.6199 0.0431444C22.6081 0.0431183 22.5256 0.0720353 22.4313 0.0952265Z"
                                ></path></svg></span
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="blog__sidebar__item">
                  <div class="tag-area">
                    <div class="blog-category__title">
                      <h4>Follow Me</h4>
                      <span></span>
                    </div>
                    <div class="social-icon p-30px-t">
                      <a href="#"><i class="icofont-facebook"></i></a>
                      <a href="#"><i class="icofont-twitter"></i></a>
                      <a href="#"><i class="icofont-google-plus"></i></a>
                      <a href="#"><i class="icofont-instagram"></i></a>
                      <a href="#"><i class="icofont-dribbble"></i></a>
                    </div>
                  </div>
                </div>
                <div class="blog__sidebar__item">
                  <div class="tag-area">
                    <div class="blog-category__title">
                      <h4>Post Tag</h4>
                      <span></span>
                    </div>
                    <div class="p-30px-t post-tag">
                      <ul>
                        <li>
                          <a href="details-right-sidebar.html">Website</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">Web Design</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">Development</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html"
                            >Graphic Design</a
                          >
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">Graphic</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">UI/UX Design</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">Activities</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">Software</a>
                        </li>
                        <li>
                          <a href="details-right-sidebar.html">3d Design</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <!-- ========== Footer start ========== -->
      <footer>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="250"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Statesman</h3>
                  <!-- <img src="assets/images/logo.png" alt=""> -->
                  <div class="footer__info">
                    <p>
                      For any additional inquiries please feel free to send us
                      an e-mail or call
                    </p>
                    <h4>Address</h4>
                    <p class="color-primary">support@gmail.com</p>
                    <span class="color-primary">+000 (123) 456 77</span>
                  </div>
                  <div class="social-icon">
                    <a href="#"><i class="icofont-facebook"></i></a>
                    <a href="#"><i class="icofont-twitter"></i></a>
                    <a href="#"><i class="icofont-google-plus"></i></a>
                    <a href="#"><i class="icofont-instagram"></i></a>
                    <a href="#"><i class="icofont-dribbble"></i></a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="300"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">About</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text smooth">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Sint iste debitis necessitatibus illum? Ut excepturi aut
                      dolorum ducimus odio eveniet reiciendis alias eos,
                      repudiandae possimus?
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="350"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Recent Event</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Grow your awesome Idea Communication</a
                        >
                      </h4>
                      <span>05 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Selected Titles on Political Theory</a
                        >
                      </h4>
                      <span>07 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Make sure business policy</a
                        >
                      </h4>
                      <span>03 august 2022</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="350"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Recent Posts</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Need carier Political Communication</a
                        >
                      </h4>
                      <span>05 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Selected Titles on Political Theory</a
                        >
                      </h4>
                      <span>07 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Grow your awesome Idea Communication</a
                        >
                      </h4>
                      <span>03 august 2022</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer__copyright">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <p class="m-0 text-center">
                  &copy; 2022 All right reserved. Made with
                  <i class="icofont-heart"></i> by
                  <a href="#">ThemeAtelier</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- ========== Footer end ========== -->
    </div>
    <!--====== jquery js ======-->
    <script src="assets/js/jquery.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--====== One page nav ======-->
    <script src="assets/js/onepageNav.js"></script>
    <!--====== Ajaxchimp js ======-->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!--====== Swiper js ======-->
    <script src="assets/js/swiper.min.js"></script>
    <!--====== Countdown js ======-->
    <script src="assets/js/jquery.countdown.js"></script>
    <!--====== Glightbox js ======-->
    <script src="assets/js/glightbox.js"></script>
    <!--====== odometer js ======-->
    <script src="assets/js/odometer.min.js"></script>
    <!--====== Appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>
    <!--====== Aos js ======-->
    <script src="assets/js/aos.js"></script>
    <!--====== Custom js ======-->
    <script src="assets/js/custom.js"></script>
    
  </body>
</html>
