<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--====== Title ======-->
    <title>Statesman - political HTML landing page</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="assets/images/favicon.ico" />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== IcoFont css ======-->
    <link rel="stylesheet" href="assets/css/icofont.min.css" />
    <!--====== swiper css ======-->
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <!--====== Glightbox css ======-->
    <link rel="stylesheet" href="assets/css/glightbox.css" />
    <!--====== Aos & Paddings css ======-->
    <link rel="stylesheet" href="assets/css/aos.css" />
    <!--====== Odometer css ======-->
    <link rel="stylesheet" href="assets/css/odometer-theme-default.css" />
    <!--====== Margin Padding css ======-->
    <link rel="stylesheet" href="assets/css/margins-paddings.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--====== Custom variants ======-->
    <!-- Default color version -->
    <link
      rel="stylesheet"
      href="assets/css/colors/shiraz.css"
      id="color-switch"
    />
    <!-- Default font version -->
    <link
      rel="stylesheet"
      href="assets/css/fonts/inter-raleway.css"
      id="font-switch"
    />
    <!--  Template Flat BG -->
    <!-- <link href="assets/css/colors/sky.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/christine.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/cosmic.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/emerald.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/leather.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/patina.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/shiraz.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/colors/sunshade.css" rel="stylesheet"> -->
    <!--  Template Typography -->
    <!-- <link href="assets/css/fonts/poppins-roboto.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/josepin-sourceSansPro.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/montserrat-lato.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/raleway-montserrat.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/fonts/philosopher-poppins.css" rel="stylesheet"> -->
    <!--====== Custom css ======-->
    <!-- <link rel="stylesheet" href="assets/css/custom.css" /> -->
    <!-- Demo CSS -->
    <link rel="stylesheet" href="demo/demo.css" />
  </head>
  <body>
    <div class="section-wrapper">
      <!-- ========== Header start ========== -->
      <header class="header">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <h1 class="navbar-brand__title">Statesman</h1>
                <!-- <img
                  class="navbar-brand__logo-dark"
                  src="assets/images/logo.png"
                  alt="Statesman"
                />
                <img
                  class="navbar-brand__logo-white"
                  src="assets/images/logo-whit.png"
                  alt="Statesman"
                /> -->
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul
                  id="onepage-nav"
                  class="navbar-nav menu ms-lg-auto align-items-lg-center"
                >
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link active scroll" href="#hero">Home </a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="index.html" class="nav-link">Candidate</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-2.html" class="nav-link">Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-3.html" class="nav-link">Campaign</a>
                      </li>
                      <li class="nav-item">
                        <a href="index-rtl.html" class="nav-link"
                          >Rtl version</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#event">Event</a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="events.html" class="nav-link">All Event</a>
                      </li>
                      <li class="nav-item">
                        <a href="single-event.html" class="nav-link"
                          >Single Event</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#pages">Pages</a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="404.html" class="nav-link">404 Page</a>
                      </li>
                      <li class="nav-item">
                        <a href="page-without-sidebar.html" class="nav-link"
                          >Page Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-left-sidebar.html" class="nav-link"
                          >Page Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="page-right-sidebar.html" class="nav-link"
                          >Page Right Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown submenu">
                    <a class="nav-link scroll" href="#blog">Blog</a>
                    <span
                      class="sub-menu-toggle dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="icofont-rounded-down"></i>
                    </span>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a href="blog-grid.html" class="nav-link">Blog Grid</a>
                      </li>
                      <li class="nav-item">
                        <a href="left-sidebar.html" class="nav-link"
                          >Left Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="right-sidebar.html" class="nav-link"
                          >Right Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="details-without-sidebar.html" class="nav-link"
                          >Details Without Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="details-right-sidebar.html" class="nav-link"
                          >Details Right Sidebar</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="blog-left-sidebar.html" class="nav-link"
                          >Details Left Sidebar</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <div class="switch-box">
                      <label id="switch" class="switch">
                        <input
                          type="checkbox"
                          onchange="toggleTheme()"
                          id="slider"
                        />
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span><span></span><span></span><span></span><span></span
                ><span></span>
              </button>
            </nav>
          </div>
        </div>
      </header>
      <!-- ========== Header end ========== -->

      <!-- ========== Event hero start ========== -->
      <section
        id="all-blogs"
        class="all-blogs overflow-hidden position-relative"
      >
        <div class="container">
          <div class="row">
            <div class="blog-title">
              <h1
                class="display-3"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
              >
                Single Event
              </h1>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="250"
                >
                  <a href="index.html">Home</a>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="250"
                >
                  <i class="icofont-rounded-right"></i>
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="300"
                >
                  Single Event
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- ========== Event hero end ========== -->
      <!-- ========== Single Event start ========== -->
      <div class="blog-details section-padding">
        <div class="container">
          <div class="row">
            <div class="offset-md-1 col-md-10">
              <div class="blog-details__wrapper">
                <div>
                  <img
                    class="img-fluid"
                    src="assets/images/event/event-2.jpg"
                    alt=""
                  />
                </div>
                <div class="blog-details__content">
                  <div class="blog-details__content__publish-time">
                    <ul>
                      <li><i class="icofont-ui-calendar"></i>25 May, 2022</li>
                      <li><i class="icofont-wall-clock"></i> 9:00 pm</li>
                      <li>
                        <i class="icofont-location-pin"></i> Midpoint Center
                      </li>
                    </ul>
                  </div>
                  <h2 class="blog-details__content__title">
                    Everyone Let's Humanity This Time
                  </h2>
                  <p class="para">
                    Sed pretium purus ultricies nunc vehicula eleifend. Cras ut
                    ligula sed eros tempor euismod. Praesent nona sodales neque.
                    Maecenas a finibus metus, et consequat lorem. Maecenas
                    tempus consectetur finibus.velit Morbi vel efficitur augue.
                    Sed in accumsan turpis, vel fringilla arcu. Sed sit amet
                    turpis a arcu feugiat telal porttitor. Donec sodales purus
                    mauris, nec mollis nulla sodales vitae. Nulla elit ex,
                    faucibus ac facilisis andi velaAliquam erat volutpat. Nulla
                    gravida vehicula mattis. Pellentesque vel lectus eget elit
                    pulvinar thoseni condimentum in ut felis. Donec ut mi et
                    nisl vestibulum rhoncus. Nam et ultrices ipsum. posuere,
                    blandit go eget augue Integer condimentum.
                  </p>
                  <p class="para">
                    Aliquam erat volutpat. Nulla gravida vehicula mattis.
                    Pellentesque vel lectus eget elit pulvinar for this gooi
                    condimentum in ut felis. Donec ut mi et nisl vestibulum
                    rhoncus. Nam et ultrices ipsum. Integer in massage eget
                    turpis consequat molestie. Vestibulum feugiat semper leo
                    eget sagittis. Duis sed odio vulputatelcoma lorem posuere
                    tincidunt.
                  </p>
                  <img
                    class="img-fluid m-30px-b"
                    src="assets/images/event/event-5.jpg"
                    alt=""
                  />
                  <h2>Curabitur quis iaculis sapien</h2>
                  <p class="para m-30px-b">
                    Aliquam erat volutpat. Nulla gravida vehicula mattis.
                    Pellentesque vel lectus eget elit pulvinar for this gooi
                    condimentum in ut felis. Donec ut mi et nisl vestibulum
                    rhoncus. Nam et ultrices ipsum. Integer in massage eget
                    turpis consequat molestie. Vestibulum feugiat semper leo
                    eget sagittis. Duis sed odio vulputatelcoma lorem posuere
                    tincidunt.
                  </p>
                  <blockquote>
                    Aliquam erat volutpat. Nulla gravida vehicula mattis.
                    Pellentesque vel lectus eget elit pulvinar for this gooi
                    condimentum in ut felis. Donec ut mi et nisl vestibulum
                    rhoncus. Nam et ultrices ipsum. Integer in massage eget
                    turpis consequat molestie. Vestibulum feugiat semper leo
                    eget sagittis. Duis sed odio vulputatelcoma lorem posuere
                    tincidunt.
                  </blockquote>
                  <p class="para">
                    Aliquam erat volutpat. Nulla gravida vehicula mattis.
                    Pellentesque vel lectus eget elit pulvinar for this gooi
                    condimentum in ut felis. Donec ut mi et nisl vestibulum
                    rhoncus. Nam et ultrices ipsum. Integer in massage eget
                    turpis consequat molestie. Vestibulum feugiat semper leo
                    eget sagittis. Duis sed odio vulputatelcoma lorem posuere
                    tincidunt.
                  </p>
                  <div
                    class="mt-5 d-flex flex-wrap justify-content-md-start justify-content-center align-items-center"
                  >
                    <h4 class="m-0 me-4">Share The Event On:</h4>
                    <div class="social-icon m-0">
                      <a href="#"><i class="icofont-facebook"></i></a>
                      <a href="#"><i class="icofont-twitter"></i></a>
                      <a href="#"><i class="icofont-google-plus"></i></a>
                      <a href="#"><i class="icofont-instagram"></i></a>
                      <a href="#"><i class="icofont-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ========== Single Event end ========== -->
      <!-- ========== Footer start ========== -->
      <footer>
        <div class="footer">
          <div class="container">
            <div class="row">
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="250"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Statesman</h3>
                  <!-- <img src="assets/images/logo.png" alt=""> -->
                  <div class="footer__info">
                    <p>
                      For any additional inquiries please feel free to send us
                      an e-mail or call
                    </p>
                    <h4>Address</h4>
                    <p class="color-primary">support@gmail.com</p>
                    <span class="color-primary">+000 (123) 456 77</span>
                  </div>
                  <div class="social-icon">
                    <a href="#"><i class="icofont-facebook"></i></a>
                    <a href="#"><i class="icofont-twitter"></i></a>
                    <a href="#"><i class="icofont-google-plus"></i></a>
                    <a href="#"><i class="icofont-instagram"></i></a>
                    <a href="#"><i class="icofont-dribbble"></i></a>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="300"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">About</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text smooth">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Sint iste debitis necessitatibus illum? Ut excepturi aut
                      dolorum ducimus odio eveniet reiciendis alias eos,
                      repudiandae possimus?
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="350"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Recent Event</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Grow your awesome Idea Communication</a
                        >
                      </h4>
                      <span>05 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Selected Titles on Political Theory</a
                        >
                      </h4>
                      <span>07 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="single-event.html"
                          >Make sure business policy</a
                        >
                      </h4>
                      <span>03 august 2022</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="col-lg-3 col-md-6 mb-4 mb-lg-0"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="350"
              >
                <div class="footer-wrapper">
                  <h3 class="footer__title fs-3">Recent Posts</h3>
                  <ul class="footer__event">
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Need carier Political Communication</a
                        >
                      </h4>
                      <span>05 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Selected Titles on Political Theory</a
                        >
                      </h4>
                      <span>07 december 2022</span>
                    </li>
                    <li class="footer-news-text">
                      <h4 class="footer__event__title">
                        <a href="details-right-sidebar.html"
                          >Grow your awesome Idea Communication</a
                        >
                      </h4>
                      <span>03 august 2022</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer__copyright">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <p class="m-0 text-center">
                  &copy; 2022 All right reserved. Made with
                  <i class="icofont-heart"></i> by
                  <a href="#">ThemeAtelier</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- ========== Footer end ========== -->
    </div>
    <!--====== jquery js ======-->
    <script src="assets/js/jquery.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--====== One page nav ======-->
    <script src="assets/js/onepageNav.js"></script>
    <!--====== Ajaxchimp js ======-->
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!--====== Swiper js ======-->
    <script src="assets/js/swiper.min.js"></script>
    <!--====== Countdown js ======-->
    <script src="assets/js/jquery.countdown.js"></script>
    <!--====== Glightbox js ======-->
    <script src="assets/js/glightbox.js"></script>
    <!--====== odometer js ======-->
    <script src="assets/js/odometer.min.js"></script>
    <!--====== Appear js ======-->
    <script src="assets/js/jquery.appear.min.js"></script>
    <!--====== Instafeed js ======-->
    <script src="assets/js/instafeed.min.js"></script>
    <!--====== Aos js ======-->
    <script src="assets/js/aos.js"></script>
    <!--====== Custom js ======-->
    <script src="assets/js/custom.js"></script>
    
  </body>
</html>
